{
  "local": {
    "VALID_NO_SCOPE_TOKEN": "run ./gradlew generateDemoTokens",
    "VALID_GAMES_READ_TOKEN": "run ./gradlew generateDemoTokens",
    "VALID_BETS_WRITE_TOKEN": "run ./gradlew generateDemoTokens",
    "VALID_MOBILE_TOKEN": "run ./gradlew generateDemoTokens"
  }
}
